* {
    color: rgb(255, 255, 255);
}
#background {
    background-color: rgba(0, 0, 0, 1);
}



#navigationModule > #navigationModuleTop > #logoTop > #logoTextTop {
    color: rgb(255, 255, 255);
}



#directions > #bannerTop > .BannerColor {
    border: 0.1vw rgb(0, 0, 0) solid;
}
#directions > #bannerButtons > .Partition_Button {
    border: 0.1vw rgb(0, 0, 0) solid;
}