* {
    box-sizing: border-box;
    user-select: none;

}
BODY {
    display: flex;
    justify-content: center;

    /*Скрытый скролбар*/
    overflow-x: hidden;
    margin: 0px;
        
    /*
    background: linear-gradient(to bottom right, rgb(255, 255, 255) 10%, rgb(118, 0, 255) 40%, rgb(43, 0, 255) 100%);
    */
}
div {

}



#navigationBar {
    width: 100vw;
    height: 7vh;

    position: fixed;
    top: -100vh;

    background-color: rgb(43, 0, 255);
}



#mainBlock {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1vw red solid;
}

#navigationBlock {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2vh;
}


#wrapper {
    width: 100vw;
    height: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo > div#logoTop {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo > div#logoTop > img#logoImg {
    width: 100px;
    height: 100px;
}
#logo > div#logoTop > a#logoTextTop {
    font-family: Gadies;
    font-size: 90px;
    color: rgb(0, 0, 0);
    /* Рамка для текста */
    /* -webkit-text-stroke: 5px rgb(0, 0, 0); */
}
#logo > div#logoBottom {
    width: auto;
    height: auto;
}
#logo > div#logoBottom > a#logoTextBottom {
    font-family: Raleway;
    font-size: 16px;
}

#menu {
    width: 70vw;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 10px;
}
#menu > .Sections {
    width: 120px;
    padding: 5px 10px;

    display: flex;
    justify-content: center;

    font-size: 17px;
    font-family: Raleway;

    border: 0.1vw rgb(0, 60, 255) solid;
    border-radius: 1000px;
}
#menu > .Sections:hover {
    background-color: rgb(43, 0, 255);
    color: rgb(255, 255, 255);
}



#topBlock {
    width: 95vw;
    height: 100vh;
}
#topBlock > div#logo {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}
#topBlock > div#logo2 {
    background-color: rgb(235, 136, 6);
    width: 100px;
    height: 100px;
}





#middleBlock1 {
    width: 95vw;
    height: 100vh;
}

#middleBlock2 {
    width: 95vw;
    height: 100vh;
}

footer {
    width: 95vw;
    height: 20vh;
    background-color: rgb(43, 0, 255);
}



::-webkit-scrollbar {
    width: 0.5vw;
}
/*Сама полоска скролбара*/
::-webkit-scrollbar-track {
    width: 1vw;
    background-color: rgb(202, 202, 202);
}
/*Ползунок скролбара*/
::-webkit-scrollbar-thumb {
    background-color: rgb(43, 0, 255);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(118, 0, 255);
}