*{
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

.background{
    position: absolute;
    z-index: -3;
    width: 100vw;
    height: 100vh;
}

#side_panel{
    width: 425px;
    height: 100vh;

    padding-left: 20px;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-right: 2px solid rgb(255, 255, 255);
}
#title{
    font-size: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#list_menu div{
    margin: 10px;
}
#list_menu a{
    border-left: 2px solid white;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#list_menu a:hover{
    padding-left: 1vw;
}
#art{
    width: 0vw;
    height: 0vh;
    position: absolute;
    z-index: -1;
}
#sign{
    position: fixed;
    bottom: 0vh;
    left: 0.5vw;
    font-size: 1vw;
}

@media(width<100vh){

}

@media(width<50vh){

}