




#navigationModule > #navigationModuleTop > #logoTop > #logoImg1 {
    width: 100px;
    height: 100px;
}
#navigationModule > #navigationModuleTop > #logoTop > #logoTextTop {
    font-size: 90px;
}
#navigationModule > #navigationModuleTop > #logoBottom > #logoTextBottom {
    font-size: 16px;
}
#navigationModule > #buttonMenu {
    visibility: hidden;
}
#moduleAboutUs > #logo > #logoImg2 {
    width: 30vw;
}
#moduleAboutUs > #description {
    width: 50vw;
    height: 50vw;

    font-size: 30px;

    border-width: 4px;
}



#directions {
    width: 100vw;
    height: auto;
}
#directions > #bannerTop {
    height: 50vw;
    display: flex;
    justify-content: space-between;
}
#directions > #bannerTop > .BannerColor {
    width: 24.8%;
    height: 100%;
}
#directions > #bannerButtons {
    height: 20vw;
    display: flex;
    justify-content: space-between;
}
#directions > #bannerButtons > button {
    width: 24.8%;
    height: 100%;

    font-size: 3vw;
}



#modulePopularGoogs > #textPopularGoogs {
    font-size: 50px;
}
#modulePopularGoogs > #blockPopularGoogs > .BlocksPopularGoods {
    width: 95vw;
    height: 450px;

    display: flex;
    float: left;

    font-size: 40px;
}
#modulePopularGoogs > #blockPopularGoogs > #blockPopularGoods2 > .Scroll > .Goods {
    width: 300px;
    height: 100%;

    position: relative;

    border-width: 2px;
}
#modulePopularGoogs > #blockPopularGoogs > .BlocksPopularGoods > button {
    width: 200px;
    height: 100px;

    padding: 10px 10px 10px 10px;
    margin: 0px 5px 0px 5px;

    border-width: 2px;

    font-size: 25px;
}