@media (width <= 750px) {
    #navigationModule > #topMenu {
        width: 0px;
        height: 0px;
    
        visibility: hidden;
    }
    #navigationModule > #buttonMenu {
        visibility:visible;
    }



    #modulePopularGoogs > #blockPopularGoogs > .BlocksPopularGoods {
        height: 400px;
    }
    #modulePopularGoogs > #blockPopularGoogs > .BlocksPopularGoods > .Goods {
        width: 230px;
        height: 90%;
    }
}