* {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}
BODY {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    z-index: -1;

    /*Скрытый скролбар*/
    overflow-x: hidden;
    margin: 0px;
}



#navbar {
    width: max-content;
    height: auto;

    position: sticky;
    z-index: 1;
    top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navbar > #theme {
    width: 50px;
    height: 30px;

    position: fixed;
    top: 10px;
    left: 50px;

    background-color: rgba(0, 0, 0, 0);

    border-color: rgb(0, 0, 0);
    border-width: 0.1vw;
    border-style: solid;
}
#navbar > #logo {
    width: 300px;
    height: max-content;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: rgba(0, 0, 0, 0);
}
#navbar > #logo > #logoImg {
    width: 100px;
    height: 100px;

    position: relative;
}
#navbar > #logo > #logoTextTop {
    font-size: 75px;

    color: black;

    font-family: Gadies;
    text-decoration: none;
}
#navbar > #logo > #logoTextBottom {
    font-size: 15px;

    color: black;
    
    font-family: Raleway;
    text-decoration: none;
}
#navbar  > #buttonMenu {
    width: 50px;
    height: 30px;

    position: fixed;
    top: 10px;
    right: 50px;

    background-color: rgba(0, 0, 0, 0);

    border-color: rgb(0, 0, 0);
    border-width: 0.1vw;
    border-style: solid;
}
#navbar > #menu {
    width: auto;
    height: auto;
}
#navbar > #menu > .Sections{
    width: 120px;
    height: 40px;

    padding: 5px 10px;
    margin: 0px 5px;

    background-color: rgba(0, 0, 0, 0);

    border-color: rgb(43, 0, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 1000px;
    
    text-decoration: none;
    font-size: 17px;
    font-family: Raleway;

    /* Вариант 2
    background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-color: rgba(43, 0, 255, 0);
    color: rgb(255, 255, 255);
    */
}
#navbar > #menu > .Sections:hover {
    background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-color: rgba(43, 0, 255, 0);
    color: rgb(255, 255, 255);
}
#curtain {
    width: 100vw;
    height: 300px;
    position: fixed;
    z-index: 0;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.95) 60%, rgba(0, 0, 0, 0) 100%);
}



#mainModule {
    width: 1200px;
    height: auto;
    
    position: relative;
    z-index: -1;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}



.Modules{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.Modules > .ModulesNames {
    width: max-content;
    height: max-content;

    font-size: 50px;

    margin-bottom: 2vh;
}
.Modules > .ModulesBlosks {
    width: 1200px;
    height: 450px;

    border: 0.1vw rgb(21, 135, 201) solid;

    display: flex;
    align-items: center;
    justify-content: center;
    float: left;

    overflow-x: scroll;
    display: flex;
    
    justify-content: start;
}
.Modules > .ModulesBlosks > .Scroll {
    width: max-content;
    height: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.Modules > .ModulesBlosks > .Scroll > .Goods {
    width: max-content;
    height: 100%;

    position: relative;
    z-index: 1;

    padding: 0.5vw;
    margin: 0px 5px 0px 5px;

    border-color: rgb(43, 0, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.Modules > .ModulesBlosks > .Scroll > .Goods:hover {
    height: 105%;

    z-index: 1;

    padding: 2vw;
    margin: 0px 5px 0px 5px;

    border-color: rgb(118, 0, 225);

    background-color: black;
}
.Modules > .ModulesBlosks > .Scroll > .Goods > img {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 0;

}



footer {
    width: 100vw;
    height: 20vh;
    background-color: rgb(43, 0, 255);

    margin-top: 3vh;
    padding: 1vw;

    color: white;
}
#adresText {
    font-family: Raleway;
    color: rgb(255, 255, 255);
}



::-webkit-scrollbar {
    width: 0.5vw;
}
/*Сама полоска скролбара*/
::-webkit-scrollbar-track {
    background-color: rgb(202, 202, 202);
}
::-webkit-scrollbar-track:hover {
    background-color: rgb(167, 167, 167);
}
/*Ползунок скролбара*/
::-webkit-scrollbar-thumb {
    height: 90px;
    background-color: rgb(43, 0, 255);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(118, 0, 255);
}



@media (width<=1200px) {
    #mainModule {
        width: 90vw;
    }


    #mainModule {
        width: 90%;
    }
    
    
    
    .Modules{
        width: 90vw;
        height: auto;
    }
    .Modules > .ModulesNames {
        width: max-content;
        height: max-content;
    
        font-size: 5vw;
    }
    #moduleGoogs1 > #blockGoods1 {
        width: 90vw;
        height: 45vw;
    }
    .Modules > .ModulesBlosks > .Scroll {
        width: max-content;
        height: 90%;
    }
    .Modules > .ModulesBlosks > .Scroll > .Goods {
        width: max-content;
        height: 100%;
    
        margin: 0px 5px 0px 5px;
    }


    
    footer {
        height: 20vw;
        font-size: 2vw;
    }
}