* {
    user-select: none;
    color: rgba(255, 255, 255, 1);
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background-color: rgb(0, 0, 0);
}

.control_div {
    position: absolute;
    left: 4vw;
    top: 4.5vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    display: flex;
    background-color: rgb(0, 0, 0);
    border: 0.1vw rgb(0, 255, 0) solid;
    border-radius: 0.5vw;
    width: 2vw;
    height: 1vw;
}

#pole{
    width: max-content;
    height: max-content;

    position: absolute;
    transform: translate(-50%);
    left: 50vw;
    top: 100px;

    display:grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-template-rows: max-content max-content max-content max-content max-content max-content max-content max-content max-content;

    justify-content: center;
    align-items: center;
}

.cell {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;
    
    font-size: 50px;
    font-family: 'Gill Sans Extrabold', sans-serif;
}

.cell:hover{
    transition: background-color 0.1ms;
    background-color: rgba(255, 255, 255, 0.5);
}



#functions {
    width: 350px;
    height: max-content;

    position: absolute;
    transform: translate(-50%);
    left: 50vw;
    top: 670px;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.function {
    width: 90px;
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.function:hover {
    transition: background-color 0.1ms;
    background-color: rgba(255, 255, 255, 0.5);
}

.function:active {
    border: 3px solid rgba(255, 255, 255, 1);
}

img {
    width: 60px;
    height: 60px;
}

a {
    font-size: 15px;
    font-family: 'Gill Sans Extrabold', sans-serif;
}




#numbers {
    width: max-content;
    height: max-content;

    position: absolute;
    transform: translate(-50%);
    left: 50vw;
    top: 770px;
    

    display: flex;
    flex-direction: row;
}

.number {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;
    box-sizing: border-box;
    border: 0.1vw solid rgba(255, 255, 255, 0.5);

    font-size: 50px;
    font-family: 'Gill Sans Extrabold', sans-serif;
}

.number:hover {
    transition: background-color 0.1ms;
    background-color: rgba(255, 255, 255, 0.5);
}

.number:active {
    border: 3px solid rgba(255, 255, 255, 1);
}