* {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}
BODY {
    display: flex;
    justify-content: center;

    /*Скрытый скролбар*/
    overflow-x: hidden;
    margin: 0px;
}
#background{
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0);
}


#mainModule {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigationModule {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2vh;
    margin-bottom: 2%;

    border-bottom: 0.1vw blue solid;
}
#navigationModule > #theme {
    width: 50px;
    height: 50px;

    position:absolute;
    left: 10px;
    top: 10px;

    border: 0.1vw red solid;
}
#navigationModule > #navigationModuleTop {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#navigationModule > #navigationModuleTop > #logoTop {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navigationModule > #navigationModuleTop > #logoTop > #logoTextTop {
    font-family: Gadies;
    color: rgb(0, 0, 0);
    /* Рамка для текста */
    /* -webkit-text-stroke: 5px rgb(0, 0, 0); */
}
#navigationModule > #navigationModuleTop > #logoBottom {
    width: auto;
    height: auto;
}
#navigationModule > #navigationModuleTop > #logoBottom > #logoTextBottom {
    font-family: Raleway;
}
#navigationModule > #buttonMenu {
    top: 3vw;
    right: 3vw;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 0.1vw rgb(255, 0, 0) solid;
    border-radius: 100%;
}
#navigationModule > #topMenu {
    width: auto;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
}
#navigationModule > #topMenu > .Sections {
    width: 120px;
    height: auto;

    padding: 5px 10px;
    margin: 0px 5px 0px 5px;

    background-color: rgba(0, 0, 0, 0);

    border-color: rgb(43, 0, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 1000px;
    
    text-decoration: none;
    font-size: 17px;
    font-family: Raleway;

    /* Вариант 2
    background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-color: rgba(43, 0, 255, 0);
    color: rgb(255, 255, 255);
    */
}
#navigationModule > #topMenu > .Sections:hover {
    background-color: rgb(43, 0, 255);
    border-color: rgb(40, 0, 240);
    color: rgb(255, 255, 255);
    /* К варианту 2
    animation: animate1 8s linear infinite;
    */
}

#moduleAboutUs {
    width: 85vw;
    height: auto;
    
    margin-bottom: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#moduleAboutUs > div#logo {
    width: min-content;
    height: min-content;
}
#moduleAboutUs > #description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Gadies;

    border-color: rgb(43, 0, 255);
    border-style: solid;
    border-radius: 100%;
}



#directions > #bannerTop > .BannerColor {
    float: left;

    border-bottom: 0.2vw rgba(255, 255, 255, 0) solid;
}
#directions > #bannerTop > #bannerColorHouse {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(118, 0, 255, 0.75));
}
#directions > #bannerTop > #bannerColorIndustry {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(255, 40, 51, 0.75));
}
#directions > #bannerTop > #bannerColorAgriculturalIndustry {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(201, 255, 138, 0.75));
}
#directions > #bannerTop > #bannerColorCars {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(106, 10, 38, 0.75));
}
#directions > #bannerButtons {
    display: flex;
}
#directions > #bannerButtons > .Partition_Button {
    padding: 0px;

    border: 0.1vw;
    border-radius: 0px;

    /* Рамка для текста */
    /* -webkit-text-stroke: 0.1vw rgb(0, 0, 0); */


    border-top: none;
}
#directions > #bannerButtons > #buutonHouse {
    background-color: rgba(118, 0, 255, 0.75);
    color: rgba(4, 70, 142, 1);
    -webkit-text-stroke: 0.1vw rgb(255, 255, 255);
}
#directions > #bannerButtons > #buutonIndustry {
    background-color: rgba(255, 40, 51, 0.75);
}
#directions > #bannerButtons > #buutonAgriculturalIndustry {
    background-color: rgba(201, 255, 138, 0.75);
}
#directions > #bannerButtons > #buutonCars {
    background-color: rgba(106, 10, 38, 0.75);
}



#modulePopularGoogs{
    width: 95vw;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}
#modulePopularGoogs > #textPopularGoogs {
    width: max-content;
    height: max-content;

    margin-bottom: 2vh;
}
#modulePopularGoogs > #blockPopularGoogs > .BlocksPopularGoods {
    border: 0.1vw rgb(21, 135, 201) solid;

    display: flex;
    align-items: center;
    justify-content: center;
}
#modulePopularGoogs > #blockPopularGoogs > #blockPopularGoods2 > .Scroll {
    width: max-content;
    height: 90%;

    display: flex;
    flex-direction: row;
}
#modulePopularGoogs > #blockPopularGoogs > #blockPopularGoods2 > .Scroll > .Goods {
    margin: 0px 5px 0px 5px;

    border-color: rgb(43, 0, 255);
    border-style: solid;
    border-radius: 10px;
}
#modulePopularGoogs > #blockPopularGoogs > #blockPopularGoods2 {
    overflow-x:scroll;
}
#modulePopularGoogs > #blockPopularGoogs > .BlocksPopularGoods > button {
    display: flex;

    background-color: rgba(0, 0, 0, 0);

    border-color: rgb(43, 0, 255);
    border-style: solid;
    border-radius: 10px;
    
    justify-content: center;
    align-items: center;
}
#modulePopularGoogs > #blockPopularGoogs > .BlocksPopularGoods > .Buttons:hover {
    background-color: rgb(43, 0, 255);
    color: rgb(255, 255, 255);
}



footer {
    width: 100vw;
    height: 20vh;
    background-color: rgb(43, 0, 255);

    margin-top: 3vh;
    padding: 1vw;

    color: white;
}

#adres {

}
#adresText {
    font-family: Raleway;
    color: rgb(255, 255, 255);
}



::-webkit-scrollbar {
    width: 0.5vw;
}
/*Сама полоска скролбара*/
::-webkit-scrollbar-track {
    width: 1vw;
    background-color: rgb(202, 202, 202);
}
/*Ползунок скролбара*/
::-webkit-scrollbar-thumb {
    background-color: rgb(43, 0, 255);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(118, 0, 255);
}







/*Анимация копок 1*/
@keyframes animate1 {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
   
  .btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
  }
   
  .btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }